@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  margin: 0px 0px;
  font-family: Inter, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
}

.hero-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 2.5rem;
}

.task-section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.heading-style-h1 {
  font-size: 68px;
  line-height: 96px;
  margin: 0px;
  background: linear-gradient(180deg, rgba(201,201,201,1) 0%, rgba(96,96,96,1) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.heading-style-h2 {
  font-size: 48px;
  line-height: 64px;
  margin: 0px;
  color: #EFEFEF;
}

.heading-style-headline {
  font-size: 34px;
  line-height: 48px;
  margin: 0px;
  color: #EFEFEF;
}

.text-style-body {
  font-size: 17px;
  line-height: 24px;
  color: #EFEFEF;
  text-align: center;
  max-width: 560px;
}

.text-style-body-caps {
  font-size: 17px;
  line-height: 24px;
  color: #EFEFEF;
  text-align: start;
}

.text-style-footnote {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #EFEFEF;
  text-align: center;
}

.card-task-details-title {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  color: #EFEFEF;
  text-align: center;
  justify-content: space-between;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  gap: 1.25rem;
}

.card-container {
  display: flex;
  justify-content: space-between;
  padding: 0.75rem 1.25rem;
  border: 1px solid #3E3E46;
  border-radius: 4px;
  max-width: 640px;
}

.advice-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.25rem;
  width: 20rem;
  cursor: "pointer";
  border: 1px solid #3E3E46;
  border-radius: 4px;
}

.card-task-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0.75rem 1.25rem;
  border: 1px solid #3E3E46;
  border-radius: 4px;
  max-width: 640px;
  gap: 1.25rem;
}

.primary-button {
  color: #EFEFEF;
  padding: 0.5rem 1.5rem;
  background: #212126;
  border: 1px solid #3E3E46;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  text-shadow: 0 0 10px #C54D27,
    0 0 20px #C54D27;
  cursor: pointer;
}

.secondary-button{
  color: #EFEFEF;
  padding: 0.5rem 1.5rem;
  background: #212126;
  border: 1px solid #3E3E46;
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
  cursor: pointer;
}

.completion-button{
  color: #EFEFEF;
  padding: 0.5rem 1.5rem;
  background: rgba(79, 166, 57, 0.25);
  border: 1px solid rgba(102, 157, 69, 0.25);
  border-radius: 4px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.add-task-button {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 0.75rem 1.25rem;
  background: #1A1A1F;
  border: 2px solid #3E3E46;
  border-radius: 4px;
  width: 640px;
}

.add-task-wrapper {
  display: flex;
  gap: 12px;
}

.task-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 0px;
  gap: 80px;
}

.todo-wrapper, .done-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
}
