.timer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.timer-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem 1.25rem;
    border-radius: 0.25rem;
    background: #1A1A1F;
    border: 1px solid #3E3E46;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.input-field {
    padding: 8px 12px;
    background: #303137;
}

